<launch>
  <!-- lat/lon1 is the reference location for first bot
        it will be used for next bot as well, 
        but next bot has differenct init_pose so the GPS point is shifted automatically-->
  <arg name="lat" default="36.1209271" />
  <arg name="lon" default="139.2158217" />

  <!-- A xacro modified of atcart_basic_gazebo.urdf to have arguments of lat/lon for any starting location -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find atcart_basic_gazebo)/urdf/atcart_basic_gazebo.urdf.xacro init_lat:=$(arg lat) init_lon:=$(arg lon)" />

  <!-- robot1 -->
  <group ns="robot1">
    <arg name="namespace" value="robot1" />
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find atcart_basic_gazebo)/launch/one_bot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name"  value="$(arg namespace)" />
    </include>
  </group>

  <!-- robot2 -->
  <group ns="robot2">
    <arg name="namespace" value="robot2" />
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find atcart_basic_gazebo)/launch/one_bot.launch" >
      <arg name="init_pose" value="-x -4 -y -4 -z 0" />
      <arg name="robot_name"  value="$(arg namespace)" />
    </include>
  </group>

  <!-- robot3 -->
  <group ns="robot3">
    <arg name="namespace" value="robot3" />
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find atcart_basic_gazebo)/launch/one_bot.launch" >
      <arg name="init_pose" value="-x -6 -y -4 -z 0" />
      <arg name="robot_name"  value="$(arg namespace)" />
    </include>
  </group>


</launch>